<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">

<head>
<title>Cadastro de Tabela</title>
</head>

<body>
	<section layout:fragment="conteudo">

		<div class="page-header">
			<div class="container-fluid">
				<h1>
					<strong>Cadastro de Tabela</strong>
				</h1>
			</div>
		</div>

		<div class="container-fluid">


			<th:block th:include="fragments/MensagemSucesso"></th:block>


			<!--  TH ACTION SEMPRE COLOCAR  -->
	 <form th:action="@{/tabelas/novo}" method="POST" th:object="${tabela}" class="form-vertical  js-form-loading">

				<th:block th:include="fragments/MensagensErroValidacao"></th:block>

				<div class="row">


					<div class="col-sm-3 form-group" th:classappend="${#fields.hasErrors('descricao')} ? has-error">
						<label for="descricao">Descricao</label>
						<input id="descricao" type="text" class="form-control" th:field="*{descricao}">
					</div>


					<div class="col-sm-3  form-group" th:classappend="${#fields.hasErrors('produto')} ? has-error">
						<label for="produto">Produto</label>
						<div class="gn-field-action">
							<select id="produto" class="form-control" th:field="*{produto}">
								<option value="">Selecione o produto</option>
							<option th:each="produto : ${produtos}"
									th:value="${produto.codigo}" th:text="${produto.descricao}"></option>

							</select>

							<div class="gn-field-action__icon">
								<a href="#" data-toggle="modal"
									data-target="#modalCadastroRapidoProduto"> <i
									class="glyphicon glyphicon-plus-sign  gn-glyphicon-plus-large"></i>
								</a>
							</div>
						</div>
					</div>

	
					<div class="col-sm-3  form-group" th:classappend="${#fields.hasErrors('coeficiente')} ? has-error">
						<label for="coeficiente">Coeficiente</label>
						<div class="input-group">
							<input id="coeficiente" type="text" class="form-control  js-plain"  th:field="*{coeficiente}">
							<div class="input-group-addon">%</div>
						</div>
					</div>
					
					
				</div>

				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
				</div>


			</form>
		</div>
		<div th:replace="estilo/CadastroRapidoBanco :: modal"></div>
		<div th:replace="estilo/CadastroRapidoTabela :: modal"></div>


	</section>

</body>
</html>