<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">

<head>
<title>Cadastro de Equipes</title>
</head>

<body>
	<section layout:fragment="conteudo">

		<div class="page-header">
			<div class="container-fluid">
				<h1>
					<strong>Cadastro de Equipes</strong>
				</h1>
			</div>
		</div>

		<div class="container-fluid">


		<th:block th:include="fragments/MensagemSucesso"></th:block> 
				

		<!--  TH ACTION SEMPRE COLOCAR  -->
			<form th:action="@{/equipes/novo}" method="POST" th:object="${equipe}" class="form-vertical  js-form-loading">

			<th:block th:include="fragments/MensagensErroValidacao"></th:block>

				<div class="row">
				
					<div class="col-sm-3 form-group"  th:classappend="${#fields.hasErrors('nome')} ? has-error">
						<label for="nome">Nome da Equipe</label>
						<input id="nome" type="text" class="form-control" th:field="*{nome}">
					</div>
					
					<div class="col-sm-3  form-group" th:classappend="${#fields.hasErrors('bonus')} ? has-error">
						<label for="bonus">Bônus</label>
						<div class="input-group">
							<input id="bonus" type="text" class="form-control  js-plain"  th:field="*{bonus}">
							<div class="input-group-addon">%</div>
						</div>
					</div>
					
						<div class="col-sm-3  form-group">
						<label for="usuario">Usuarios</label>
						<div class="gn-field-action">
							<select id="banco" class="form-control" th:field="*{usuario}">
								<option value="">Selecione o Usuario</option>
								<option th:each="usuario : ${usuarios}" th:value="${usuario.codigo}"
									th:text="${usuario.nome}">??</option>

							</select>

						</div>
					</div>
					
				</div>


				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
				</div>


			</form>
		</div>
		<div th:replace="estilo/CadastroRapidoBanco :: modal"></div>
		<div th:replace="estilo/CadastroRapidoTabela :: modal"></div>



	</section>

</body>
</html>