<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="modal fade" id="modalCadastroRapidoConta" tabindex="-1"
		role="dialog" th:fragment="modal">
		<div class="modal-dialog  modal-md">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Cadastro de Conta</h4>
				</div>

				<div class="modal-body">
					<div
						class="alert alert-danger hidden js-mensagem-cadastro-rapido-conta"
						role="alert"></div>

					<form class="form-horizontal" th:action="@{/contas}">
						<div class="form-group">
				
							<label class="col-sm-3  control-label" for="titular">Titular</label>
							<div class="col-sm-12">
								<input id="titularConta" type="text" class="form-control">
							</div>
			

							<label class="col-sm-3  control-label" for="numeroAgencia">Agência</label>
							<div class="col-sm-12">
								<input id="numeroAgencia" type="text" class="form-control">
							</div>

							<label class="col-sm-3  control-label" for="numero">Número
								Conta</label>
							<div class="col-sm-12">
								<input id="numeroConta" type="text" class="form-control">
							</div>


							<label class="col-sm-3  control-label" for="tipoConta">Tipo de Conta</label>
							<div class="col-sm-12">
							<select id="tipoConta" class="form-control">
							<option value="">Selecione o tipo</option>
							<option th:each="tipoConta : ${tipos}" th:value="${tipoConta}" th:text="${tipoConta.descricao}">Poupança</option>
						</select>
							</div>
							
							<label class="col-sm-3  control-label" for="tipoConta">Banco </label>
							<div class="col-sm-12">
							<select id="bancoCodigo" class="form-control">
								<option value="">Selecione o Banco</option>
								<option th:each="banco : ${bancos}" th:value="${banco.codigo}" th:text="${banco.nome}">Itau</option>
								

							</select>
							</div>
							


						</div>
					</form>


					<button type="button"
						class="btn btn-primary  js-modal-cadastro-conta-salvar-btn">Salvar</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
				</div>
			</div>
		</div>
	</div>

</body>
</html>